.gpt3__gtt-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .gpt3__gtt-btn p {
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-size: 2.8rem;
    width: 4rem;
    height: 4rem;
    color: white;
    background: var(--gradient-text);
  
    border-radius: 50%;
  
    position: fixed;
    bottom: 3rem;
    right: 3rem;
  
    z-index: 999;
    cursor: pointer;
  }
  
  .gpt3__gtt-btn_icon {
    animation: gototop 0.8s linear infinite alternate-reverse;
  }
  
  @keyframes gototop {
    0% {
      transform: translateY(-0.6rem);
    }
    100% {
      transform: translateY(0.6rem);
    }
  }
  
  @media screen and (max-width: 750px) {
    .gpt3__gtt-btn p {
      font-size: 2.5rem;
      width: 3.5rem;
      height: 3.5rem;
  
      bottom: 2.5rem;
      right: 2.5rem;
    }
  
    @keyframes gototop {
      0% {
        transform: translateY(-0.4rem);
      }
      100% {
        transform: translateY(0.4rem);
      }
    }
  }
  
  @media screen and (max-width: 550px) {
    .gpt3__gtt-btn p {
      font-size: 2rem;
      width: 3rem;
      height: 3rem;
  
      bottom: 2rem;
      right: 2rem;
    }
  
    @keyframes gototop {
      0% {
        transform: translateY(-0.3rem);
      }
      100% {
        transform: translateY(0.3rem);
      }
    }
  }
  