.gpt3__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: var(--color-footer);
}

.gpt3__footer-heading {
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
}

.gpt3__footer-heading h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
  text-align: center;
}

.gpt3__footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10rem;
}

.gpt3__footer-btn button{
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 21px;
  word-spacing: 2px;
  color: white;

  padding: 1rem;  
  border: 1px solid white;
  background: none;
  cursor: pointer;
}

.gpt3__footer-btn button:hover {
  color: var(--color-footer);
  background-color: #FFFFFF;
}

.gpt3__footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;

  width: 100%;
  text-align: left;
}

.gpt3__footer-links div {
  width: 250px;
  margin: 1rem;
}

.gpt3__footer-links_logo {
  display: flex;
  flex-direction: column;
}

.gpt3__footer-links_logo img {
  width: 118px;
  height: 30px;

  margin-bottom: 1rem;
}

.gpt3__footer-links_logo p {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 14px;
  color: white;
}

.gpt3__footer-links_div {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.gpt3__footer-links_div h4 {
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 20px;
  color: white;

  margin-bottom: 1rem;
  border-bottom: 2px solid transparent;
  border-image: var(--gradient-bar);
  border-image-slice: 1;
  padding-bottom: 0.3rem;
}

.gpt3__footer-links_div p {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 14px;
  color: white;

  margin: 0.5rem 1rem;
  cursor: pointer;
}

.gpt3__footer-copyright {
  margin-top: 2rem;
  text-align: center;
  width: 100%;
}

.gpt3__footer-copyright p {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 14px;
  color: white;
}

@media screen and (max-width:850px) {
    .gpt3__footer-heading h1{
        font-size: 44px;
        line-height: 50px;
    }
}

@media screen and (max-width:550px) {
    .gpt3__footer-heading h1{
        font-size: 34px;
        line-height: 42px;
    }

    .gpt3__footer-links div{
        margin: 1rem 0;
    }

    .gpt3__footer-btn button{
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width:550px) {
    .gpt3__footer-heading h1{
        font-size: 27px;
        line-height: 38px;
    }
}